.container{
    background-color: aquamarine ;
    border: 4px salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 800px;
}
.box{
    height: 100px;
    width: 400px;
    background-color: bisque;
    border: 2px solid red;
    /* transition-property:all;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease; */


    transition: all 1s , linear , 0.5s;
}

.box:hover{
    width: 700px;
    /* height: 200px; */
    border-radius: 30px;
    background-color: rgb(255, 0, 191);
}

h1{
    text-align: center;

}