.container{
    /* height: 800px;
    width: 1000px; */
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    margin: 10px;
    padding:10px;
    width: 50%;
}

.box{
    border: 2px solid black;
    margin: 5px;
    padding:5px;
    width: 50%;

}
#box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box > img{
    height: 300px;
    width: 100%;
}

.box > h2{
    border: 2px solid red; 
    height: 50%;
}


@media (max-width:700px){
    .container{
        flex-direction: column;
    }
}

/* #box1{
    border: 2px solid red;   
}
#box2{
    border: 2px solid red;   
} */