.container{

    background-color: rgb(43, 226, 104);
    border: 3px solid red;
    margin: 5px;
    padding:5px;
    display: flex;
}
.item{
    height: 300px;
    width: 300px;
    margin: 2px;
    padding: 2px;

} 

 #one{
    background-color: blueviolet;
}

#two{
    background-color: yellow;
}

#three{
    background-color:navy;
}

#four{
    background-color: tomato;
}  


/* @media (min-width:500px) and (max-width:700px){
    .box{
        background-color: aqua;
    }
} */


/* @media (min-width:700px){
    .container{
        flex-direction: row;
    }
}

@media (max-width:699px){
    .container {
        flex-direction: column;
    }
}  */