* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: beige;
  width: 100vw;
  height: 100vh;
  border: 8px solid black;
}
.box {
  height: 100px;
  width: 300px;
  background-color: aquamarine;
  margin: 10px;
  border: 3px solid red;
  position: relative;
  border-radius: 7px;
  /* animation-name: movement;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards; */

  /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
  animation: 1s linear 0.5s infinite alternate none running movement;
}
h1 {
  color: rgb(226, 15, 51);
  text-align: center;
}

@keyframes movement {
  from {
    top: 0;
    left: 0;
  }

  to {
    top: 0;
    left: 80%;
  }
}

.box2 {
  height: 100px;
  width: 300px;
  background-color: aquamarine;
  margin: 10px;
  border: 3px solid red;
  border-radius: 7px;
  position: relative;
  animation: 1s linear 0.5s infinite alternate none running movement2;
}

@keyframes movement2 {
  from {
    top: 700px;
    left: 80%;
  }

  to {
    top: 700px;
    left: 0;
  }
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: red;
  border: 2px solid black;
  position: relative;
  left: 50%;
  top: 20%;
  animation: 5s ease-in-out 0.5s infinite alternate-reverse none running circles;
}

@keyframes circles {
  0% {
    top: 1%;
    left: 5%;
  }

  25% {
    top: 10%;
    left: 80%;
  }
  50% {
    top: 500px;
    left: 5%;
  }
  99% {
    top: 500px;
    left:55%;
  }
}
